:root {
  --primary: #2f5061;
  --background: #f4eae6;
  --negative: #9b2226;
  --positive: #386641;
}

/* layout */

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
}

body {
  padding: 20px;
  background: var(--background);
  color: var(--primary);
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  color: var(--primary);
}

/* table */

table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

table td,
table th {
  border: 1px solid var(--primary);
  padding: 8px;
}

*.lang,
*.sentence {
  text-align: left;
}

*.score {
  text-align: right;
}

table tr:nth-child(odd) {
  background-color: #fff;
}

table tr:nth-child(even) {
  background-color: #eee;
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: var(--primary);
  color: white;
}

/* input */

textarea {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
  height: 280px;
  width: 360px;
  padding: 1.2rem;
  border: 3px solid var(--primary);
  background-color: #fff;
}

/* overall score */

.container {
  margin-left: 20px;
  margin-right: 20px;
  margin-right: 20px;
}

.score-container {
  font-size: 1.4rem;
  color: white;
  background: var(--primary);
  padding: 4px;
  margin-bottom: 10px;
  text-align: center;
}

/* word highlighting */

#annotated-text {
  line-height: 1.8;
  font-size: 1.6rem;
}

span {
  border-radius: 0.5rem;
  color: white;
  padding: 2px 4px 2px 4px;
  font-weight: bold;
}

.positive {
  background-color: var(--positive);
}

.negative {
  background-color: var(--negative);
}
